*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, 
body {
    font-family: 'Fredoka One', cursive;
    color: rgb(221, 193, 193);
    height: 100%;
    font-size: 16px;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    filter: blur(0.5px)  contrast(200%) drop-shadow(0px 10px 8px black) ;
}

#container{
    flex-direction: column;
    display: flex;
    align-items: center;
}

#time{
    font-size: 6rem;
    padding-bottom: 10px;
}

h1{
    padding-bottom: 50px;
}

